name: github pages

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Triggering SHA'
        required: true
        default: "$GITHUB_SHA"
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: biodrone/cyberscribe-blog
          token: ${{ secrets.PRIVATE_REPO_PAT }}
          submodules: true # Fetch Hugo themes
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"

      - name: Clean public directory
        run: rm -rf public

      - name: Build
        run: hugo --minify --theme PaperMod

      - name: Create cname file
        run: echo 'cyberscribe.blog' > public/CNAME

      - name: Create Google Adsense file
        run: echo 'google.com, 'tbd when adsense is active' > public/ads.txt

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      - name: Version
        uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          force-bump-patch-version: true
          changelog-generator-opt: "emojis=true"
          changelog-file: true
